
body{
    background: linear-gradient(100deg, #720303, #3d1016, #32010b);
    margin-top:0px;
    /* border-left:0.1em solid white;
    border-right:0.1em solid white; */
}

.about{
    color:rgb(255, 248, 248);
    font-family: "Special Elite", system-ui;
    font-size:2rem;
    font-weight: 400;
    font-style:normal;
    max-width:60%;
    text-align:center;
    margin:20px auto;
   
}

.objective{
    color:rgb(255, 248, 248);
    color:rgb(255, 248, 248);
    font-family: "Special Elite", system-ui;
    font-size:2rem;
    font-weight: 400;
    font-style:normal;
    max-width:60%;
    text-align:center;
    margin:20px auto;

}

.listTitle{
    font-family:cursive;
    font-size:4rem;
    font-weight:bold;
    color:rgb(255, 248, 248);
    max-width:60%;
    text-align:center;
    margin:20px auto;

}

dd{
    color:rgb(255, 248, 248);
    color:rgb(255, 248, 248);
    font-family: "Special Elite", system-ui;
    font-size:2rem;
    font-weight: 400;
    font-style:normal;
    max-width:60%;
    margin:20px auto;
    text-align: center;

}


/*Changing font for main Akatsuki heading*/
h1{
    font-family: "New Rocker", system-ui;
    font-size:3.2rem;
  font-weight: 400;
  font-style: normal;
  margin:3vh;;
}

/*Changing font for other headings except for h1*/
h2,h3,h4{
    font-family: "UnifrakturCook";
  font-weight: 700;
  font-style: normal;
  font-size:2.6rem;
  color:rgb(255, 248, 248);
  margin-left:1em;
    margin-right:1em;
  border-bottom:0.1em solid white;
  display:flex;
  justify-content:center;
  margin-top:0.1em;
  
}

nav{
    display:flex;
    font-family:"New Rocker",system-ui;
    color:aliceblue;
    font-size:2rem;
    justify-content:space-between;
    align-items:center;
    border-top:0.1em solid white;
    border-bottom:0.1em solid white;

}


/*Removing default styling of anchor tags */

a{
    text-decoration:none;
}

a:link{
    color:aliceblue;
}

a:visited{
    color:aliceblue;
}

/*Styling for remaining 3 nav elements except for H1*/

#aboutNav,#objectiveNav,#membersNav{
    border:0.18rem solid white;padding:0.5rem;
    border-radius: 0.5em;
}

/*Fixing image position */

 .mainImageContainer{
    display:flex;
    justify-content:center;
    
 }

 #akat{
    border-bottom:0.1em solid white;
 }

 .individualImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height:auto;
 }

 h3{
    border-top: 0.1em solid white;
 }

 h4{
    border-top: 0.1em solid white;
 }

#painTitle{
    font-family:cursive;
    font-size:4rem;
    font-weight:bold;
    color:rgb(255, 248, 248);
    max-width:60%;
    text-align:center;
    margin:0px auto;
    border:0.04em solid rgb(133, 35, 18);
    border-radius:0.3em;
    
}
